@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700;800&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
 
}

:root{
  --main-black: #2C3137;
  --main-blue : #296CF2;
  --secondary-blue: #2051b3;

}

a{
  text-decoration: none;
  color: var(--main-black);
}

.titles-1{
  font-family: 'Outfit', sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: var(--main-black);
  
}

.online{
  color: var(--main-blue);
  display: inline-block;
  margin-right: .6rem;
}

.blue{
  color: var(--main-blue);
  font-size: 16px;
}



.header-1{
  color:var(--main-black);
  font-size: 48px;
  font-weight: 900;
  text-align: left;
}

.header-2{
  color:var(--main-black);
  font-size: 32px;
  font-weight: 900;
  text-align: center;
}


/*Navbar*/

.navbar-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: white;
  position: fixed;
  box-shadow: .5px .5px 10px rgba(0, 0, 0, 0.09);
  z-index: 99;
}

.logo-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: .6rem;
  padding: 1rem;
}

.navbar-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 3rem;
}

.navbar-links a{
  font-weight: 300;
  transition: all .3s ease-in-out;
}

.navbar-links a:hover{
  font-weight: 700;
  font-size: 18px;
  transition: all .3s ease-in-out;
}


.contact-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  background-color: var(--main-blue);
  color:white;
  padding: .6rem 1.5rem;
  border-radius:25px;
  transition: all .3s ease-in-out;
}

.contact-button:hover{
  background-color: var(--secondary-blue);
  transition: all .3s ease-in-out;
}

.close-button{
  border: none;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: .5rem;

}

.responsive-menu{
  display: none;
  padding-right: 1rem;
}

.menu-button{
  border: none;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: .5rem;

}

.navbar-responsive-container{
  transform: translateY(-100vh);
  opacity: 0;
  display: none;
}

.active{
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  transform: translateY(0vh);
  opacity: 1;
  z-index: 99;

}

.navbar-responsive{
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar-responsive-links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 32px;
  font-weight: 900;
  font-size: 32px;
  margin-top: 20vh;
}


.close-button-container{
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.socials-responsive{
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.socials-responsive a{
  color: var(--main-blue);
}

.socials-responsive a:hover{
  color: var(--secondary-blue);
}


/*Hero-Banner*/


.hero-section-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5vh 2vw 0 2vw;
  gap: 2vw;
 
}

.hero-banner-container{
  position: absolute;
  top: 30vh;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 4rem;
}

.hero-cards-container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: start;
  padding: 1.5rem 0;
  gap: 1rem;

}


.hero-card{
  width:130px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  gap: 5px;
  filter: drop-shadow(5px 5px 5px rgba(113, 126, 152, 0.20));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #f8fcff 100%);
  transition: all .2s ease-in-out;
}

.hero-card:hover{
  rotate: 2deg;
  box-shadow: 5px 5px 5px rgba(39, 81, 206, 0.596);
  transition: all .2s ease-in-out;
}



.hero-buttons-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-top: 1.5rem;
  gap: 1.5rem;
}

.primary-button{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .2rem;
  background-color: var(--main-blue);
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 25px;
  transition: all .2s ease-in-out;

}

.primary-button:hover{
  background-color: var(--secondary-blue);
  color: white;
  transition: all .2s ease-in-out;
}

.secondary-button:hover{
  background-color: var(--main-blue);
  color: white;
  transition: all .2s ease-in-out;
}

.secondary-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .2rem;
  background-color: white;
  color: var(--main-blue);
  padding: 1rem 1.5rem;
  border-radius: 25px;
  border: 1px solid var(--main-blue);
  transition: all .2s ease-in-out;
  
}


.pb-1{
  padding-bottom: 1rem;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-wrapper{
  padding-bottom: 3rem;
}

.swiper-slide img {
  display: block;
  width: 30%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.quality-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 25vh 10vw 5vh 10vw;
}

.timeline{
  padding-top: 3.5rem;
}


.paragraph-container{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

.pagaraph{
  font-size: 20px;
  line-height: 32px;
  text-align: left;
  padding: 1.5rem 0 1.5rem 0;
  width: 50%;
}

.icon-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.icons{
  position: relative;
  top: -45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;
}

.round-icon{
  display: inline-block;
  font-size: 32px;
  background-color: white;
  box-shadow: 1px 1px 32px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  padding: 1rem;

}

.round-icon-description{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(180deg, #FFFFFF 0%, #ddecfa 100%);
  border-radius: 24px;
  font-weight: bold;
}

.blue-bar{
  content: "";
  width: 100%;
  height: 10px;
  border-radius: 24px;
  background-color: var(--main-blue);
}



.socials{
  display: none;
}

.socials a{
  color: var(--main-blue);
  transition: all .3s ease-in-out;
}

.socials a:hover{
  cursor: pointer;
  scale: 110%;
  transition: all .3s ease-in-out;
}

.Lottie-animation{
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width:1600px){

  .socials{
  position: fixed;
  top: 40%;
  left: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  width: 24px;
  padding: 1.5rem .5rem;
  border: solid 2px var(--main-blue);
  color: var(--main-blue);
  border-radius: 16px;
  z-index: 98;

  }
}

@media only screen and (max-width:1024px){
  
  .hero-section-container{
    padding: 20vh 1rem 0 1rem;
  }

  .quality-section{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10vh 1vw 10vh 1vw;
  }

  .paragraph-container{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .pagaraph{
    text-align: center;
    width: 60%;
  }

}

@media only screen and (max-width: 1000px) {

  .hero-section-container{
    display: flex;
    flex-direction: column;
    padding:20vh 1rem 0 1rem;
  }

  .header-1{
    text-align: center;
  }

  .hero-cards-container{
    align-items: center;
    justify-content: center;
  }

  .hero-buttons-container{
    align-items: center;
    justify-content: center;
  }

 

}



@media only screen and (max-width: 500px) {

  .primary-button{

    width: 80%;
  }

  .secondary-button{
    width: 80%;
  }

 
  

  .Lottie-animation{
    width: 100%;
  }

}

@media screen and (max-width:300px){
  
  .hero-section-container{
    padding: 0;
    width: 350px;
  }

 

}

@media (min-width: 768px) and (max-width: 979px) {
  

  .slider-carousel{
    padding-top: 10vh;
  }


  .hero-banner-container{
    top: 15%;
  }
  
  .hero-cards-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .hero-buttons-container{
    flex-direction: column;
    width: 100%;
  }

}

@media (min-width: 980px) and (max-width: 1024px) {
  
  
  .icons{
    flex-direction: column;
    position: relative;
    top: -100vh;
    gap: 11vh;
  }

  .timeline{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .blue-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 100vh;
  }

  .slider-carousel{
    padding-top: 10vh;
  }

  .hero-banner-container{
    top: 15%;
  }
  
  .hero-cards-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .slider-carousel{
    margin-top: 10vh;
  }

}


@media screen and (max-width:768px) {

  .icons{
    flex-direction: column;
    position: relative;
    top: -100vh;
    gap: 11vh;
  }

  .timeline{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .blue-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 100vh;
  }
  
.responsive-menu{
  display: flex;
 

}

.navbar-links{
  display: none;
}

.header-1{
  font-size: 32px;
}

.hero-banner-container{
  top: 15%;
}

.hero-cards-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.ag-format-container{
  top: 1%;
  width: 100%;
}

.hero-buttons-container{
  flex-direction: column;
  width: 100%;
}

.slider-carousel{
  margin-top: 10vh;
}

}


